/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * END --- SETUP TAILWINDCSS EDIT
 */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h1 {
  font-size: 36px;
}

.layout-header {
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to left top, rgb(0, 255, 183), rgb(0, 183, 255));
  color: #000567;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 2px solid #0b0069;
  box-shadow: 2px 2px 5px rgba(146, 146, 146, 0.1);
}

.layout-header>nav {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.layout-nav>span {
  font-size: 18px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.purple-button {
  background: linear-gradient(to bottom right, #8a0045, #890198);
  border: none;
  color: white;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

footer {
  align-self: end;
}

.task-card {
  display: flex;
  background-color: #e3e3e3;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
  padding: 16px;
  margin-top: 8px;
  font-weight: bold;
  border: 2px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.task-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.task-card-title {
  width: 300px;
}

.task-card-description {
  width: 500px;
}

.task-card-status {
  width: 56px;
}

.task-cell-container {
  width: calc(100% - 16px);
}

.task-card-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to right top, rgb(0, 183, 255),rgb(0, 221, 255));
  padding: 16px;
  font-weight: bold;
  border: 2px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 260px;
}

.task-card-edit-form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 🔹 Tela escurecida */
  display: flex;
  align-items: center;
  justify-content: center;
}