/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

main {
  flex: 1;
}

h1 {
  font-size: 36px;
}

.layout-header {
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to left top, rgb(0, 255, 183), rgb(0, 183, 255));
  color: #000567;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.layout-header>nav {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.layout-nav>span {
  font-size: 18px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background: linear-gradient(to bottom right, #8a0045, #890198);
  border: none;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

footer {
  align-self: end;
}